@model MAQS.Web.Models.Corp

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Corp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Corpid" />
            <div class="form-group">
                <label asp-for="Rowid" class="control-label"></label>
                <input asp-for="Rowid" class="form-control" />
                <span asp-validation-for="Rowid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Createdby" class="control-label"></label>
                <input asp-for="Createdby" class="form-control" />
                <span asp-validation-for="Createdby" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Updated" class="control-label"></label>
                <input asp-for="Updated" class="form-control" />
                <span asp-validation-for="Updated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Updatedby" class="control-label"></label>
                <input asp-for="Updatedby" class="form-control" />
                <span asp-validation-for="Updatedby" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Delrec" class="control-label"></label>
                <input asp-for="Delrec" class="form-control" />
                <span asp-validation-for="Delrec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company" class="control-label"></label>
                <input asp-for="Company" class="form-control" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address1" class="control-label"></label>
                <input asp-for="Address1" class="form-control" />
                <span asp-validation-for="Address1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address2" class="control-label"></label>
                <input asp-for="Address2" class="form-control" />
                <span asp-validation-for="Address2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zip" class="control-label"></label>
                <input asp-for="Zip" class="form-control" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pharea" class="control-label"></label>
                <input asp-for="Pharea" class="form-control" />
                <span asp-validation-for="Pharea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phext" class="control-label"></label>
                <input asp-for="Phext" class="form-control" />
                <span asp-validation-for="Phext" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phtype" class="control-label"></label>
                <input asp-for="Phtype" class="form-control" />
                <span asp-validation-for="Phtype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Altpharea" class="control-label"></label>
                <input asp-for="Altpharea" class="form-control" />
                <span asp-validation-for="Altpharea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Altphone" class="control-label"></label>
                <input asp-for="Altphone" class="form-control" />
                <span asp-validation-for="Altphone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Altphext" class="control-label"></label>
                <input asp-for="Altphext" class="form-control" />
                <span asp-validation-for="Altphext" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Altphtype" class="control-label"></label>
                <input asp-for="Altphtype" class="form-control" />
                <span asp-validation-for="Altphtype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pharea800" class="control-label"></label>
                <input asp-for="Pharea800" class="form-control" />
                <span asp-validation-for="Pharea800" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone800" class="control-label"></label>
                <input asp-for="Phone800" class="form-control" />
                <span asp-validation-for="Phone800" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Faxarea" class="control-label"></label>
                <input asp-for="Faxarea" class="form-control" />
                <span asp-validation-for="Faxarea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fax" class="control-label"></label>
                <input asp-for="Fax" class="form-control" />
                <span asp-validation-for="Fax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Urlweb" class="control-label"></label>
                <input asp-for="Urlweb" class="form-control" />
                <span asp-validation-for="Urlweb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agcorpid" class="control-label"></label>
                <input asp-for="Agcorpid" class="form-control" />
                <span asp-validation-for="Agcorpid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prvemp" class="control-label"></label>
                <input asp-for="Prvemp" class="form-control" />
                <span asp-validation-for="Prvemp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skillset" class="control-label"></label>
                <input asp-for="Skillset" class="form-control" />
                <span asp-validation-for="Skillset" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lpcode" class="control-label"></label>
                <input asp-for="Lpcode" class="form-control" />
                <span asp-validation-for="Lpcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contactid2" class="control-label"></label>
                <input asp-for="Contactid2" class="form-control" />
                <span asp-validation-for="Contactid2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parentid" class="control-label"></label>
                <input asp-for="Parentid" class="form-control" />
                <span asp-validation-for="Parentid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persemail" class="control-label"></label>
                <input asp-for="Persemail" class="form-control" />
                <span asp-validation-for="Persemail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Urlcareers" class="control-label"></label>
                <input asp-for="Urlcareers" class="form-control" />
                <span asp-validation-for="Urlcareers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
