@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container-fluid">
    <div class="row header-height">
        <div class="col-lg-6 company-name text-left">
            <p>
                <span class="font-weight-normal">
                    <span class="letter-R">R</span><span class="letter-C">C</span><span class="letter-I">I</span>
                </span>
                <span class="vertical-line">|</span>
                <span class="project-name font-weight-bold">Archived Quotes Search</span>
            </p>
        </div>
        <div class="col-lg-6 user-name text-right">
            <p>
                Phil Blake <img class="profilePhoto" src="../Images/Profile.png" alt="Profile Photo" />
            </p>
        </div>
    </div>
</div>